body {
    background-color: #B7C4CF; 
}

.box {
    background-color: #FCF9BE; 
    border-radius: 5px;
    margin: 4px;
    width: 60px;
    height: 60px;
}

.content{
    margin: auto; 
    width: 180px;
    
}

.title {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    font-family: monospace;
    color: #B05A7A ;
}

.line {
    display: flex;
}

.player1 {
    background: #579BB1;
}

.player2 {
    background: #B08BBB;
}

.button {
    font-weight: bold;
    display: flex; 
    width: 120px; 
    margin: 10px auto; 
    background-color: #B05A7A;
    border: none; 
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    font-size: 1.3em;
}

#new-game:hover {
    background-color: #579BB1;
}

.turn {
    background-color: #B05A7A;
    width: 200px;
    border-radius: 50px;
    margin: 10px auto;
    padding: 3px;
}

.font {
    text-align: center;
    font-family: monospace;
    color: #FCF9BE ;
}