<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css ">
    <title>Tic tac toe</title>
</head>
<body>
    <h1 class="title"> tic-tac-toe </h1>
    <p class="font turn"> player 1 plays!</p>

    <div class="content">
        <div class="line">
            <div class="box" number="1">  </div>
            <div class="box" number="2">  </div>
            <div class="box" number="3">  </div>
        </div>
        <div class="line">
            <div class="box" number="4">  </div>
            <div class="box" number="5">  </div>
            <div class="box" number="6">  </div>
        </div>
        <div  class="line">
            <div class="box" number="7">  </div>
            <div class="box" number="8">  </div>
            <div class="box" number="9">  </div>
        </div>
    </div>

    <div class="buttons">
        <button id="new-game" class="button font"> NEW GAME </button>
        <button id="computer" class="button font"> DEMO: COMPUTER PLAYS </button>
    </div>

    <script src="/assets/js/main.js"></script>
</body>
</html>